<div class="component aboutWrap">
    <div class="canaInfo container-fluid">
        <div class="leftside col-sm-12 col-md-5">
            <div class="wrap">
                <div class="info">
                    <div class="img"><img src="app/images/icons/heart.gif"></div>
                    <p>CANA由三位创始人于2016年6月再渥太华创立，是一家向加拿大政府注册的非盈利组织。</p>
                </div>
                <div class="info">
                    <div class="img"><img src="app/images/icons/box.gif"></div>
                    <p>CACA以帮助毕业的国际留学生顺利进入本地就业市场为使命，通过评估目前职业现状，设计适合的职业规划。</p>
                </div>
                <div class="info">
                    <div class="img"><img src="app/images/icons/key.gif"></div>
                    <p>培训使用的求职技能，拓展职业社交圈等方式，帮助毕业留学生找到满意的工作。</p>
                </div>
            </div>
        </div>
        <div class="clearFloat"></div>
        <div class="rightside col-sm-12 col-md-7">
            <div class="canvas"></div>
            <div #scroll class="scrollbar" (mousedown)="onDrag($event, scroll, container, mentorList, 'scrollbar')" ></div>
            <div #container class="wrap">
                <div #mentorList class="mentorList" (mousedown)="onDrag($event, scroll, container, mentorList, 'content')">
                    <div class="mentor">
                        <div class="img"><div class="frame"><img src="app/images/samples/IMG_2529.jpg"></div></div>
                        <div class="intro">
                            <p><b>李</b><span>楠</span>，CANA创始人及常任理事之一。加拿大注册会计师（CPA，CGA）。毕业于卡尔顿大学商学院会计专业，六年会计事务所工作经验。现就职于SmartCell Communication 担任Controller。</p>
                            <div class="arrows"></div>
                        </div>
                    </div>
                    <div class="mentor">
                        <div class="img"><div class="frame"><img src="app/images/samples/IMG_2529.jpg"></div></div>
                        <div class="intro">
                            <p><b>李</b><span>楠</span>，CANA创始人及常任理事之一。加拿大注册会计师（CPA，CGA）。毕业于卡尔顿大学商学院会计专业，六年会计事务所工作经验。现就职于SmartCell Communication 担任Controller。</p>
                            <div class="arrows"></div>
                        </div>
                    </div>
                    <div class="mentor">
                        <div class="img"><div class="frame"><img src="app/images/samples/IMG_2529.jpg"></div></div>
                        <div class="intro">
                            <p><b>李</b><span>楠</span>，CANA创始人及常任理事之一。加拿大注册会计师（CPA，CGA）。毕业于卡尔顿大学商学院会计专业，六年会计事务所工作经验。现就职于SmartCell Communication 担任Controller。</p>
                            <div class="arrows"></div>
                        </div>
                    </div>
                    <div class="mentor">
                        <div class="img"><div class="frame"><img src="app/images/samples/IMG_2529.jpg"></div></div>
                        <div class="intro">
                            <p><b>李</b><span>楠</span>，CANA创始人及常任理事之一。加拿大注册会计师（CPA，CGA）。毕业于卡尔顿大学商学院会计专业，六年会计事务所工作经验。现就职于SmartCell Communication 担任Controller。</p>
                            <div class="arrows"></div>
                        </div>
                    </div>
                    <div class="mentor">
                        <div class="img"><div class="frame"><img src="app/images/samples/IMG_2529.jpg"></div></div>
                        <div class="intro">
                            <p><b>李</b><span>楠</span>，CANA创始人及常任理事之一。加拿大注册会计师（CPA，CGA）。毕业于卡尔顿大学商学院会计专业，六年会计事务所工作经验。现就职于SmartCell Communication 担任Controller。</p>
                            <div class="arrows"></div>
                        </div>
                    </div>
                    <div class="mentor">
                        <div class="img"><div class="frame"><img src="app/images/samples/IMG_2529.jpg"></div></div>
                        <div class="intro">
                            <p><b>李</b><span>楠</span>，CANA创始人及常任理事之一。加拿大注册会计师（CPA，CGA）。毕业于卡尔顿大学商学院会计专业，六年会计事务所工作经验。现就职于SmartCell Communication 担任Controller。</p>
                            <div class="arrows"></div>
                        </div>
                    </div>
                    <div class="mentor">
                        <div class="img"><div class="frame"><img src="app/images/samples/IMG_2529.jpg"></div></div>
                        <div class="intro">
                            <p><b>李</b><span>楠</span>，CANA创始人及常任理事之一。加拿大注册会计师（CPA，CGA）。毕业于卡尔顿大学商学院会计专业，六年会计事务所工作经验。现就职于SmartCell Communication 担任Controller。</p>
                            <div class="arrows"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomLine"></div>
        </div>
    </div>
</div>