<div class="component footerWrap">
    <div class="wrap">
        <div class="top_ container-fluid">
            <div class="left col-sm-9 col-xs-7">
                <h3>如果希望参加CANA的辅导项目，或有意愿成为志愿者，欢迎成为CANA成员并上传个人简历</h3>
            </div>
            <div class="right col-sm-3 col-xs-5">
                <button class="register">Sign in/Sign up</button>
            </div>
        </div>
        <div class="middle_ container-fluid">
            <div class="left container-fluid col-sm-9">
                <div class="section col-xs-3">
                    <h3>Service</h3>
                    <p><a href="#">Core Program</a></p>
                    <p><a href="#">Workshop</a></p>
                </div>
                <div class="section col-xs-3">
                    <h3>About</h3>
                    <p><a href="#">CANA Introduction</a></p>
                    <p><a href="#">Mentor Member</a></p>
                    <p><a href="#">Corp Member</a></p>
                </div>
                <div class="section col-xs-3">
                    <h3>Event & News</h3>
                    <p><a href="#">Newsletter</a></p>
                    <p><a href="#">Upcoming Events</a></p>
                </div>
                <div class="section col-xs-3">
                    <h3>Career</h3>
                    <p><a href="#">Internship Opportunity</a></p>
                </div>
            </div>
            <div class="right col-sm-3">
                <h3>Contact Us</h3>
                <p>We are here if you need us:</p>
                <p><a href="mailto:abc@example.com">CANA@gmail.com</a></p>
                <p><a href="tel:+01-613-888-8888">+1 (613) 888-8888</a></p>
                <div class="medias">
                    <a href="#"><img src="app/images/icons/linkedin.gif" alt="LinkedIn" title="LinkedIn"></a>
                    <a href="#"><img src="app/images/icons/facebook.gif" alt="Facebook" title="Facebook"></a>
                    <a href="#"><img src="app/images/icons/instagram.gif" alt="Instagram" title="Instagram"></a>
                    <a href="#"><img src="app/images/icons/wechat.gif" alt="WeChat" title="WeChat"></a>
                </div>
            </div>
        </div>
        <div class="bottom_ container-fluid">
            <div class="left">
                <img src="app/images/logo.png">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All rights reserved CANA Inc. 2017</span>
            </div>
            <div class="right">
                <span><a href="#">Terms of Service</a></span>
                <span class="space">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span><a href="#">Privacy Policy</a></span>
            </div>
        </div>
    </div>
</div>