<div class="wrap">
    <header>
        <div #header class="head-wrap">
            <div>
                <img class="cana-logo" src="app/images/logo.png">
                <nav #nav>
                    <button #nav1 class="nav active" (click)="onButtonClick(nav1)">Service</button>
                    <button #nav2 class="nav" (click)="onButtonClick(nav2)">About</button>
                    <button #nav3 class="nav" (click)="onButtonClick(nav3)">Event & News</button>
                    <button #nav4 class="nav" (click)="onButtonClick(nav4)">Career</button>
                    <div class="underscore"></div>
                </nav>
                <button class="login">Sign in/Sign up</button>
                <button class="navbtn">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </button>
            </div>
        </div>
    </header>

    <div class="middle">
        <h3>Career Aid Networking Association</h3>
        <p>加拿大地区唯一一所为中国留学生提供免费就业服务的非盈利组织</p>
    </div>

    <div class="welcome">
        <div class="board">
            <img class="paper" src="app/images/paper.png">
            <img class="pencil" src="app/images/pencil.png">
        </div>
    </div>
</div>