<div class="component newsWrap">
    <div class="handleWidth">
        <div class="container row cWrap">
            <div class="barWrap">
                <div #nav class="newsNav">
                    <button #btn1 data-index=1 data-id="news" (click)="onButtonClick(btn1)">News</button>
                    <button #btn2 data-index=2 data-id="news" (click)="onButtonClick(btn2)">Upcoming Events</button>
                    <div class="underscore"></div>
                    <div class="underscore"></div>
                </div>
            </div>

            <hr class="news_"/>
            <div class="col-xs-12 center title news">
                <h4>CANA定期举办专业主题公开课，拍摄职业照等活动，满足非学员的需求，承担更多社会责任。</h4>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="detail-link"><a href="#">News </a><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                <div class="card">
                    <h5>CANA 官方网站正式上线！</h5>
                    <h6>据CANA的现任会计导师回想，当年留学毕业的时候由于缺乏经验，找工作可谓是上天无路入地无门。在校期间只专注于上…</h6>
                    <div class="cicle">
                        <img src="app/images/samples/IMG_2204.JPG" width="30px" alt="">
                    </div>
                    <div class="update-date">
                        <p>Anby</p>
                        <p>Apr 30</p>
                    </div>
                </div>

                <div class="card">
                    <h5>CANA 官方网站正式上线！</h5>
                    <h6>据CANA的现任会计导师回想，当年留学毕业的时候由于缺乏经验，找工作可谓是上天无路入地无门。在校期间只专注于上…</h6>
                    <div class="cicle">
                        <img src="app/images/samples/IMG_2204.JPG" width="30px" alt="">
                    </div>
                    <div class="update-date">
                        <p>Anby</p>
                        <p>Apr 30</p>
                    </div>
                </div>
                <div class="email-input col-xs-8">
                    <input type="text" class="form-control" placeholder="Enter your email address">
                </div>
                <button type="button" name="button" class="btn btn-default subscribe">Subscribe</button>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="detail-link"><a href="#">Upcoming Events</a> <i class="fa fa-angle-right" aria-hidden="true"></i></div>
                <div class="event">
                </div>
                <div class="event-title">
                    <h5>三个小时内让你有能力独立自信的进行财务和金融数据分析!</h5>
                    <h6>Microsoft Excel是微软公司的办公软件Microsoft office的组件之一，是由Microsoft为Windows和Apple Macintosh操作系统...</h6>
                    <div class="calendar">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        <img src="app/images/icons/calendar.gif">
                        <p class="event-date">27, May @2:00pm</p>
                    </div>
                    <button type="button" name="button" class="btn btn-default register subscribe">Register</button>
                </div>
            </div>

            <div class="clearFloat"></div>
            <div class="careerWrap">
                <div #cnav class="careerNav">
                    <button #cbtn1 data-index=1 data-id="career" (click)="onButtonClick(cbtn1)">Requirements</button>
                    <button #cbtn2 data-index=2 data-id="career" (click)="onButtonClick(cbtn2)">Opportunities</button>
                    <div class="underscore"></div>
                    <div class="underscore"></div>
                </div>
            </div>
            <hr class="career_"/>

            <div class="col-xs-12 center title career">
                <h4>志愿者导师们从CANA成立以来，一直在为同学们创造和寻找实习机会,感兴趣的同学请不定期查本网站公布的实习工作机会。</h4>
            </div>
            <div class="col-xs-12 center cards">
                <div class="card-job">
                    <a href="#"><p>IT</p></a>
                </div>
                <div class="card-job">
                    <a href="#"><p>Accounting</p></a>
                </div>
                <div class="card-job">
                    <a href="#"><p>Data/Financial Analyst</p></a>
                </div>
                <div class="card-job">
                    <a href="#"><p>Office Administration</p></a>
                </div>
            </div>
        </div>
    </div>

    <div class="clearFloat"></div>
    <div class="careerSection">
        <div class="career-content container-fluid">
            <div class="require col-xs-12 col-sm-7">
                <h3>参与实习的同学需要满足一下需求:</h3>
                <h4>1. 是CANA的注册学员，完成或正在进行CANA核心就业辅导课程</h4>
                <h4>2. 认真对待实习机会，积极尝试凭借实习经验有效推销自己</h4>
                <h4>3. 实习期间积极主动地寻找工作</h4>
                <div class="arrow-right"></div>
            </div>
            <div class="oppos col-xs-12 col-sm-5">
                <div class="oppo">
                    <a href="#"><h3>Website Designer-Intern</h3></a>
                    <p>Ottawa</p>
                </div>
                <div class="oppo">
                    <a href="#"><h3>Front End Developer-Intern</h3></a>
                    <p>Ottawa</p>
                </div>
                <div class="oppo">
                    <a href="#"><h3>Website Designer-Intern</h3></a>
                    <p>Ottawa</p>
                </div>
                <div class="oppo">
                    <a href="#"><h3>Front End Developer-Intern</h3></a>
                    <p>Ottawa</p>
                </div>
            </div>
        </div>
    </div>
</div>
