<div class="component serviceWrap">
    <div class="barWrap">
        <div #nav class="serviceNav">
            <button #btn1 data-index=1 data-id="news" (click)="onButtonClick(btn1)">Core Program</button>
            <button #btn2 data-index=2 data-id="news" (click)="onButtonClick(btn2)">Workshop</button>
            <div class="underscore"></div>
            <div class="underscore"></div>
        </div>
    </div>
    <hr class="service_"/>

    <h3 class="dialog">本着敬事谨信的态度，积极务实地为同学们搭建从校园到职场地桥梁，提供所有专业背景的核心就业辅导课程</h3>

    <div class="process">
        <div class="sec">
            <div class="items">
                <img src="app/images/icons/service-1.jpg" alt="职业规划辅导" title="职业规划辅导">
                <p>1</p>
                <h3>职业规划辅导</h3>
                <p>45min</p>
            </div>
            <img class="arrow_" src="app/images/icons/arrow.gif">
            <div class="items">
                <img src="app/images/icons/service-2.jpg" alt="求职途径介绍" title="求职途径介绍">
                <p>2</p>
                <h3>求职途径介绍</h3>
                <p>45min</p>
            </div>
        </div>
        <img class="arrow_ middle" src="app/images/icons/arrow.gif">
        <div class="sec">
            <div class="items">
                <img src="app/images/icons/service-3.jpg" alt="求职文书辅导" title="求职文书辅导">
                <p>3</p>
                <h3>求职文书辅导</h3>
                <p>90min</p>
            </div>
            <img class="arrow_" src="app/images/icons/arrow.gif">
            <div class="items">
                <img src="app/images/icons/service-4.jpg" alt="求职面试辅导" title="求职面试辅导">
                <p>4</p>
                <h3>求职面试辅导</h3>
                <p>135min</p>
            </div>
            <img class="arrow_" src="app/images/icons/arrow.gif">
            <div class="items">
                <img src="app/images/icons/service-5.jpg" alt="模拟面试" title="模拟面试">
                <p>5</p>
                <h3>模拟面试</h3>
                <p>45min</p>
            </div>
        </div>
    </div>

    <div class="container-fluid details">
        <div class="col-md-6 leftSide">
            <div class="detail-sec">
                <img class="first" src="app/images/icons/intro-2.gif" title="毕业生就业辅导" alt="毕业生就业辅导">
                <h2>毕业生就业辅导项目</h2>
                <p>向毕业2年之内的留学生提供免费服务</p>
                <p>通过8次一对一的课程，帮助学生评估个人就业情况，设计职业规划，增加求职所需技能，拓展职业交际圈，就业辅导项目持续8周左右</p>
            </div>
            <div class="detail-sec">
                <img class="second" src="app/images/icons/intro-1.gif" title="毕业生就业辅导" alt="毕业生就业辅导">
                <h2>在校生实习辅导项目</h2>
                <p>向毕业2年之内的留学生提供免费服务</p>
                <p>通过8次一对一的课程，帮助学生评估个人就业情况，设计职业规划，增加求职所需技能，拓展职业交际圈，就业辅导项目持续8周左右</p>
            </div>
            <a class="more" href="#">了解更多CANA课程的详细信息</a>
        </div>
        <div class="col-md-6 rightSide">
            <img src="app/images/card.jpg" alt="card">
        </div>
        <div class="clear_float"></div>
        <div class="register">
            <button>Register Now</button>
        </div>
    </div>

    <h3 class="dialog2">CANA各行业的志愿者导师们为在册的学员免费提供案例操作培训和实习课程，成功完成理论到时间的才华，校园到职场的过渡。</h3>

    <div class="combine">
        <div class="leftside">
            <div class="image">
                <div class="arrow_"></div>
            </div>
            <h3><a href="#">Excel 实用技巧</a></h3>
        </div>
        <div class="rightside">
            <div class="card">
                <div class="image">
                    <div class="arrow_"></div>
                </div>
                <h3><a href="#">Linkedin 领英培训</a></h3>
            </div>
            <div class="card">
                <h3><a href="#">会计案例操作培训课程</a></h3>
                <div class="image">
                    <div class="arrow_"></div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <div class="arrow_"></div>
                </div>
                <h3><a href="#">CANA IT实习项目</a></h3>
            </div>
        </div>
    </div>

    <h3 class="dialog3">实用的Excel教程，在短短的三个小时内让你有能力独立自信地进行财务和金融数据分析，为你在申请Financial Analyst和会计职位地竞争中脱颖而出。</h3>

    <div class="detail-link">
        <a>Detail &nbsp;&nbsp;&nbsp;<img src="app/images/icons/arrows.gif" alt="arrow"></a>
    </div>
</div>