@import "bourbon/bourbon";
@import "theme/theme.scss";
@import "util/about.util.scss";
@import "util/globe";

.aboutWrap {
  overflow: hidden;
  &:before {
    content: "";
    display: table;
  }

  .infoWrap {
    position: relative;
    height: 0;
    @media (max-width: $max-width_mobile) {
      height: $nav_height;
    }
    .canaInfoNav {
      padding: 0 18px;
      max-width: 390px;
      margin: 0 auto;
      text-align: center;
      position: relative;
      overflow: hidden;
      height: 0;
      @media (max-width: $max-width_mobile) {
        overflow: visible;
        height: $nav_height;
      }
      button {
        border: none;
        font-size: 1.7rem;
        display: inline-block;
      }
      .gap {
        @media (max-width: 500px) {
          display: none;
        }
      }
      .underscore {
        position: absolute;
        bottom: 0;
        height: 0;
        width: 39px;
        border-bottom: 1px solid $orange-button-color;
      }
    }
  }
  .infoNavBottomLine {
    display: none;
    @media (max-width: $max-width_mobile) {
      display: block;
      border-width: 1px;
    }
  }
  .canaInfo {
    padding: 158px 6px 0;
    background-color: $light-gray;
    margin-top: 200px;
    .canaInfoWrap {
      max-width: 1600px;
      margin: 0 auto;
    }
    @media (max-width: 991px) {
      margin-top: 0;
      padding-top: 68px;
    }
    .leftside {
      position: relative;
      &:after {
        content: "";
        display: table;
      }
      @media (max-width: 992px) {
        margin-bottom: 36px;
      }
      .wrap {
        width: 60%;
        float: right;
        @media (max-width: 992px) {
          float: none;
          width: auto;
          margin: 0 auto;
          max-width: 288px;
          text-align: center;
        }
        .info {
          margin-bottom: 28px;
          .img {
            position: relative;
            img {
              position: relative;
              left: -2px;
              width: 32px;
            }
          }
          p {
            margin-top: 16px;
            line-height: 3rem;
            font-size: 1.3rem;
            color: $font-color;
            padding-left: 11px;
            font-weight: lighter;
            @media (max-width: 992px) {
              padding-left: 0;
            }
          }
        }
      }
    }
    .clearFloat {
      display: none;
      @media (max-width: 991px) {
        display: block;
      }
      height: 0;
      clear: both;
    }
    .rightside {
      $mobile-width: 992px;
      position: relative;
      margin-top: -258px;
      @media (max-width: $mobile-width) {
        margin-top: 0;
      }
      @media (max-width: 600px) {
        padding-left: 0;
        padding-right: 0;
      }
      .canvas {
        height:300px;
        position: absolute;
        top: 0;
        left: 152px;
        background-color: $light-gray;
        width: 782px;
      }
      .scrollbar {
        box-sizing: border-box;
        $width: 23px;
        position: absolute;
        width: $width;
        border-radius: $width;
        height: 128px;
        right: -6px;
        border: 6px solid $light-gray;
        top: 0;
        opacity: 0.8;
        background-color: $chatpop-color;
        &:hover {
          opacity: 1;
        }
        @media (max-width: $mobile-width) {
          visibility: hidden;
          width: 0;
        }
      }
      .wrap {
        position: relative;
        overflow: hidden;
        height: 820px;
        @media (max-width: $mobile-width) {
          height:500px;
        }
        .mentorList {
          position: relative;
          cursor: pointer;
          .mentor {
            &:after {
              content: "";
              display: table;
              clear: both;
            }
            padding: 0 6px 50px 56px;
            @media (max-width: 600px) {
              padding: 0 0 50px 0;
            }
            .img {
              $width: 45px;
              width: $width;
              position: relative;
              .frame {
                overflow: hidden;
                width: $width;
                height: $width;
                position: absolute;
                bottom: 8px;
                border-radius: 50%;
                @media (max-width: 600px) {
                  bottom: calc(50% - 27px);
                }
                img {
                  width: $width;
                }
              }
            }
            .intro {
              border-radius: 4px;
              box-sizing: border-box;
              font-size: 1.1rem;
              line-height: 2.2rem;
              b {
                font-size: 2rem;
                font-weight: 500;
                @media (max-width: 600px) {
                  font-size: 1.6rem;
                }
              }
              @media (max-width: 600px) {
                font-size: 1.4rem;
              }
            }
            &:nth-of-type(odd) {
              .img {
                float: left;
              }
              .intro {
                color:rgba(255, 255, 255, 0.88);
                font-weight: lighter;
                position: relative;
                margin-left: 36px;
                padding: 18px 30px 15px 37px;
                background-color: $chatpop-color;
                float: left;
                @media (max-width: 600px) {
                  padding: 10px 17px 10px 27px;
                }
                .arrows {
                  position: absolute;
                  $width: 23px;
                  $height: 26px;
                  width: $width;
                  height: $height;
                  background: url("app/images/icons/arrow_cyan.png") 0 0 no-repeat;
                  background-size: $width $height;
                  left: -22px;
                  bottom: 18px;
                  @media (max-width: 600px) {
                    bottom: calc(50% - 20px);
                  }
                }
              }
            }
            &:nth-of-type(even) {
              .img {
                float: right;
              }
              .intro {
                color: $font-color;
                position: relative;
                border: 2px solid $orange-button-color;
                margin-right: 36px;
                padding: 18px 27px 15px 30px;
                background-color: #fff;
                float: right;
                @media (max-width: 600px) {
                  padding: 10px 27px 10px 17px;
                }
                .arrows {
                  position: absolute;
                  $width: 24px;
                  $height: 26px;
                  width: $width;
                  height: $height;
                  background: url("app/images/icons/arrow-orange.png") 0 0 no-repeat;
                  background-size: $width $height;
                  right: -23px;
                  bottom: 18px;
                  @media (max-width: 600px) {
                    bottom: calc(50% - 20px);
                  }
                }
              }
            }
          }
        }
      }
      .bottomLine {
        position: relative;
        width: 200%;
        left: 53px;
        margin-bottom: 60px;
        height: 0;
        border-bottom: 1px solid $median-gray;
        @media (max-width: 991px) {
          border-bottom: 3px solid $median-gray;
        }
        @media (max-width: 600px) {
          left: 0;
        }
      }
    }
    .corp {
      position: relative;
      text-align: center;
      top: 0px;
      padding-top:50px;
      @media (max-width: 992px) {
        top: 0px;
      }
      .corpWrap {
        line-height: 100px;
        a {
          display: inline-block;
          margin: 0 16px;
          img {
            height: 38px;
            @media (max-width: 600px) {
              height: 25px;
            }
          }

        }
      }
      p {
        font-size: 1.2rem;
        line-height: 3.1rem;
        max-width: 500px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 100px;
        margin: 42px auto 0;
        color: $text-color-lighter;
      }
    }
  }

  .slide_title {
    text-align: center;
    max-width: 600px;
    padding: 100px 18px 0px;
    margin: 0 auto;
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 3rem;
    span {
      line-height: 7rem;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }

  .slide {
    position: relative;
    .pictures {
      position: relative;
      margin: 0 auto 8px;
      height: 660px;
      max-width: 1700px;
      overflow: hidden;
      .pic_wrap {
        position: absolute;
        width: 420px;
        top: 170px;
        opacity: 0.6;
        z-index: 1;
        transition: box-shadow 0.6s, opacity 0.6s;
        .picture {
          width: 100%;
          height: 294px;
        }
        p {
          font-size: 1.3rem;
          width: 100%;
          padding: 5px 8px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &.active {
          opacity: 1;
          top: 72px;
          box-shadow: 0 20px 50px 0 rgba(136,136,136,0.53);
          z-index: 2;
          left: calc(50% - 305px);
          width: 610px;
          .picture {
            height: 427px;
          }
        }
        &:nth-of-type(1) {
          left: calc(50% - 1400px);
          .picture {
            background: url("app/images/events/DSC04939.jpg") no-repeat;
            background-size: cover;
          }
        }
        &:nth-of-type(2) {
          left: calc(50% - 820px);
          .picture {
            background: url("app/images/events/DSC04960.jpg") no-repeat;
            background-size: cover;
          }
        }
        &:nth-of-type(3) {
          .picture {
            background: url("app/images/events/DSC04908.jpg") no-repeat;
            background-size: cover;
          }
        }
        &:nth-of-type(4) {
          left: calc(50% + 400px);
          .picture {
            background: url("app/images/events/DSC04939.jpg") no-repeat;
            background-size: cover;
          }
        }
        &:nth-of-type(5) {
          z-index: 3;
          left: calc(50% + 980px);
          .picture {
            background: url("app/images/events/DSC04960.jpg") no-repeat;
            background-size: cover;
          }
        }
      }
    }
    .buttons {
      position: relative;
      text-align: center;
      top: -49px;
      .button {
        cursor: pointer;
        margin: 0 6px;
        display: inline-block;
        $width: 8px;
        width: $width;
        height: $width;
        border-radius: 50%;
        border: 1px solid $green-button-color;
        transition: background-color 0.5s;
        &.activeb {
          background-color: $green-button-color;
        }
      }
    }
  }

  .slide_mobile {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 329px;
    margin-top: 18px;
    .pictures {
      position: absolute;
      width: 300%;
      box-shadow: 0 0 100px #888;
      .pic_wrap {
        position: absolute;
        width: calc(100% * 1 / 3);
        transition: left 0.6s ease;
        &.left{
          left: calc(-100% * 1 / 3);
          z-index: 1;
        }
        &.middle{
          left: 0;
          z-index: 2;
        }
        &.right{
          left: calc(100% * 1 / 3);
          z-index: 1;
        }
        .picture {
          height: 300px;
          background-color: #00f;
        }
        p {
          position: relative;
          background-color: #fff;
          font-size: 1.3rem;
          width: 100%;
          padding: 5px 8px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .buttons {
      position: absolute;
      text-align: center;
      bottom: 0;
      width: 100%;
      .button {
        cursor: pointer;
        margin: 0 6px;
        display: inline-block;
        $width: 8px;
        width: $width;
        height: $width;
        border-radius: 50%;
        border: 1px solid $green-button-color;
        transition: background-color 0.5s;
        &.activeb {
          background-color: $green-button-color;
        }
      }
    }
  }

  .graph {
    &:before {
      content: "";
      display: table;
    }
    background: url("app/images/graph.png") 0 0 no-repeat;
    background-size: auto 563px;
    max-width: 1600px;
    height: 563px;
    margin: 0 auto;
    @media (max-width: 850px) {
      background: none;
      height: 390px;
    }
    .statistic {
      max-width: 1000px;
      padding: 0 50px;
      margin: 131px auto 0;
      text-align: center;
      @media (max-width: 850px) {
        padding: 0 8px;
        margin-top: 80px;
      }
      @media (max-width: 540px) {
        margin-top: 50px;
      }
      .item {
        vertical-align: top;
        position: relative;
        display: inline-block;
        @media (max-width: 850px) {
          margin: 36px 20px 0;
        }
        &>div {
          display: inline-block;
        }
        .dot {
          $width: 10px;
          margin-bottom: 7px;
          display: inline-block;
          width: $width;
          height: $width;
          border-radius: 50%;
          background-color: $light-orange;
          @media (max-width: 850px) {
            width: 6px;
            height: 6px;
            margin-bottom: 10px;
          }
        }
        .number {
          font-family: Arial;
          display: inline;
          font-size: 3.7rem;
          color: $dark_cyran;
          span {
            font-size: 1.8rem;
          }
        }
        .title_ {
          margin-top: 30px;
          font-size: 1.5rem;
          font-weight: normal;
          @media (max-width: 850px) {
            margin-top: 5px;
          }
        }
      }
      .line {
        display: inline-block;
        width: 49px;
        height: 26px;
        margin-right: 5%;
        margin-left: 5%;
        border-bottom: 1px solid $light-orange;
        @media (max-width: 850px) {
          display: none;
        }
      }
    }
  }
}
