@import "bourbon/bourbon";
@import "theme/theme.scss";
@import "util/footer.util.scss";

.footerWrap {
  overflow: hidden;
  background-color: rgba(249, 248, 230, 0.15);
  .wrap {
    padding: 0 70px;
    max-width: 1000px;
    margin: 0 auto;
    @media (max-width: $max-width) {
      padding: 0 40px;
    }

  }

  .top_ {
    padding: 80px 0 66px 0;
    .left {
      padding-right: 136px;
      padding-left: 0;
      @media (max-width: $max-width) {
        padding-right: 0;
      }
      @media (max-width: $max-width2) {
        width: 100%;
      }
      h3 {
        font-size: 1.43rem;
        line-height: 2.8rem;
        color: $text-color-lighter;
      }
    }
    .right {
      padding-left: 47px;
      padding-right: 0;
      @media (max-width: $max-width) {
        padding-left: 30px;
      }
      @media (max-width: $max-width2) {
        width: 100%;
        margin-top: 36px;
        padding-left: 0;
      }
      .register {
        font-size: 1.3rem;
        $height: 32px;
        color: #fff;
        background-color: $orange-button-color;
        border: none;
        border-radius: $height;
        height: $height;
        line-height: $height;
        width: 149px;
        @media (max-width: $max-width) {
          display: block;
          margin: 0 auto;
        }
        &:hover {
          background-color: $orange-button-hover;
        }
      }
    }
  }

  .middle_ {
    padding-bottom: 56px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid $median-gray;
    a:hover {
      text-decoration: underline;
    }
    .left {
      padding-left: 0;
      .section {
        padding-left: 0;
        @media (max-width: $max-width2) {
          width: 50%;
          margin-top: 25px;
        }
      }
      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 18px;
      }
      p {
        font-size: 1.3rem;
        margin-top: 12px;
        color: $text-color-lighter;
      }
    }
    .right {
      padding-right: 0;
      padding-left: 47px;
      font-size: 1.5rem;
      @media (max-width: $max-width) {
        margin-top: 66px;
        text-align: center;
        padding-left: 0;
        .medias {
          display: inline-block;
        }
      }
      h3 {
        margin-left: 6px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 18px;
      }
      p {
        margin-left: 6px;
        font-size: 1.3rem;
        margin-top: 12px;
        color: $text-color-lighter;
      }
      .medias {
        margin-top: 18px;
        margin-left: 6px;
        a {
          float: left;
          margin-right: 10px;
          @media (max-width: 820px) {
            margin-right: 6px;
          }
          @media (max-width: $max-width) {
            margin-left: 10px;
            margin-right: 10px;
          }
          img {
            height: 25px;
          }
          &:nth-of-type(4) {
            margin-right: 0;
          }
        }
        &:after {
          content: "";
          display: table;
          clear: both;
        }
      }
    }
  }

  .bottom_ {
    padding: 20px 0 10px;
    font-size: 1.3rem;
    $height: 27px;
    line-height: $height;
    .left {
      float: left;
      @media (max-width: $max-width3) {
        float: none;
        text-align: center;
      }
      img {
        height: $height;
      }
    }
    .right {
      float: right;
      @media (max-width: $max-width3) {
        margin-top: 16px;
        float: none;
        text-align: center;
      }
      @media (max-width: 330px) {
        span {
          display: block;
        }
        .space {
          display: none;
        }
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
