h1, h2, h3, h4, html, body, li, ul, dl, dd, dt, header, nav, a, main, footer, p, button, input, fieldset, legend, hr {
  padding: 0;
  margin: 0;
}
@import "bourbon/bourbon";

@font-face {
  font-family: pingfangsclight;
  src: url(../../font/AvenirLTStd-Light.otf);
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

button {
  background: none;
  border: 1px solid #000;
  outline: none!important;
}

html {
  font-size: 10px;
}

body {
  font-family: pingfangsclight, Tahoma, Arial!important;
  background: #fff;
}

a, a:hover, a:active, a:link {
  text-decoration: none;
  color: inherit
}
a {
  cursor: pointer;
}

li {
  list-style: none;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

#loading {

}

.component {
  border-bottom: 3px solid #f00;
}

.clear_float {
  height: 0;
  clear: both;
}