$font-color: #505050;
$text-color-darken: rgba(0,0,0,0.8);
$text-color-lighter: rgba(0,0,0,0.6);
$orange-button-color: #E67D62;
$orange-button-hover: #D77157;
$green-button-color: #35A987;
$green-button-hover: #339477;
$green-text-color: #00AB6B;
$green-text-hover: #139770;
$cyran: #24a59a;
$chatpop-color: #1EA69A;
$background-lightgreen: #F4FAFA;
$background-lightyellow: #FAF9E7;
$gray: #e6e6e6;
$light-gray: #f4fafa;
$dark-gray: #4a6171;
$median-gray: #e7f2f2;
